<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Todos los medios de pago</h2>
                    <p>¡Elegi la opcion que mas te convega!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envios a todo CABA y GBA</h2>
                    <p>¡Todos los productos de la tienda. Secos, refrigerados y congelados!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>¡Te ayudamos!</h2>
                    <p>Escribinos a nuestro whatsapp de L a V de 10hs a 18hs y sacate todas las dudas!</p>
                </article>
            </div>
        </div>
    </div>
</footer>