<!--Head-->
<%- include('./partials/head') %> 
<!--Head-->
<body>
	
	<!-- /Header -->
	<%- include('./partials/headerNormal') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			
			<h2 class="col-12"> <i> 
				<form action="/profile" method="get">
					<input type="email" name="femail" class="form-login" placeholder="Ingrese su email">
					<input type="password" name="fpassword" class="form-login" placeholder="Contraseña">
					<label for="contraseña">Recordarme</label>
					<input type="checkbox" name="fremember" class="form-login" placeholder="">
					<input type="submit">

				</form>
			</h2>

	<!-- Footer -->		
	<%- include('./partials/footer') %> 
	<!-- Footer -->
	
</body>

</html>