<!--Head-->
<%- include('./partials/head') %> 
<!--Head-->
<body>
	
	<!-- /Header -->
	<%- include('./partials/header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			
			<h2 class="col-12"> <i> 
				<form action="/profile" method="get" class="form-register-container">
					<input type="email" name="email" class="form-register" placeholder="Ingrese su email">
					<input type="password" name="password" class="form-register" placeholder="Contraseña">
					<div class="checkbox">
						<label for="contraseña" class="form-register">Recordarme</label>
						<input type="checkbox" name="remember" class="form-register">
					</div>
					<input type="submit" class="form-register-submit">

				</form>
			</h2>


	<!-- Footer -->		
		<%- include('./partials/footer') %> 
	<!-- Footer -->
</body>

</html>