<!--Head-->
<%- include('./partials/head') %> 
<!--Head-->

<body>
		<!--Header-->
		<% if (locals.user != undefined) { %>
			<%- include('./partials/headerLogueado') %>
		<% } else {%>
			<%- include('./partials/headerDeslogueado') %>
		<% } %> 
		<!--Header-->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
		
			<h2 class="col-12"> <i> 
				<form action="/product/add" method="post" class="form-register-container" enctype="multipart/form-data">	
					<input type="text" name="nombre" class="form-register" placeholder="Nombre de producto">
					<input type="text" name="descripcion" class="form-register" placeholder="Descripción de producto">
					<!--<input type="file" name="imagen" class="form-register" placeholder="">-->

					<input type="submit" name="" class="form-register-submit">
				</form>
			</h2>
		</div>
	</div>
	<!-- Footer -->
	<%- include('./partials/footer') %> 
	<!-- Footer -->
		
</body>
