<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="../public/css/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
		
			<h2 class="col-12"> <i> 
				<form action="/producto/detalle" method="get">
					<input type="file" name="fphoto" class="form-addproducts" placeholder="">	
					<input type="text" name="fuproduct" class="form-addproducts" placeholder="Nombre de producto">
					<input type="text" name="fuproductdesciption" class="form-addproducts" placeholder="Descripción de producto">
					<input type="date" name="fdate" class="form-addproducts" placeholder="Fecha de carga">
					<input type="submit">

					<input type="submit">
				</form>
			</h2>
		

	<!-- Footer -->
	<%- include-('./partials/footer') %> 
	<!-- Footer -->
		
</body>

</html>