<!--Head-->
<%- include('./partials/head') %> 
<!--Head-->

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
		
			<h2 class="col-12"> <i> 
				<form action="/product" method="get" class="form-register-container">	
					<input type="text" name="fuproduct" class="form-register" placeholder="Nombre de producto">
					<input type="text" name="fuproductdesciption" class="form-register" placeholder="Descripción de producto">
					<input type="date" name="fdate" class="form-register" placeholder="Fecha de carga">
					<input type="file" name="fphoto" class="form-register" placeholder="">
					<input type="submit" class="form-register-submit">
				</form>
			</h2>
		

	<!-- Footer -->
	<%- include('./partials/footer') %> 
	<!-- Footer -->
		
</body>

</html>