<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form method="get">
					<label for="usuario">Nombre de Usuario</label><br> /*br es para dividir las lineas*/
					<input type="text" id="usuario" name="usuario"><br>
					<label for="email">Email</label><br>
					<input type="email" id="email" name="email"><br>
					<label for="contrase単a">Contrase単a</label><br> 
					<input type="text" id="contrase単a" name="contrase単a"><br>
					<label for="fecha">Fecha de Nacimiento </label><br>
					<input type="number" id="fecha" name="fecha"><br>
					<label for="DNI">Numero de Documento</label><br>
					<input type="number" id="DNI" name="DNI"><br>
					<label for="foto">Foto de Perfil</label><br>
					<input type="file" id="foto" name="foto"><br>
				</form>
			</h2>







	<!-- Footer -->		
	<%- include-('./partials/footer') %> 
	<!-- Footer -->
	
</body>

</html>