<!--Head-->
<%- include-('./partials/head') %> 
<!--Head-->

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form method="get" action="profile/edit">
					<label for="usuario">Nombre de Usuario</label><br> 
					<input type="text" id="usuario" name="usuario"><br>
					<label for="email">Email</label><br>
					<input type="email" id="email" name="email"><br>
					<label for="contrase単a">Contrase単a</label><br> 
					<input type="text" id="contrase単a" name="contrase単a"><br>
					<label for="fecha">Fecha de Nacimiento </label><br>
					<input type="number" id="fecha" name="fecha"><br>
					<label for="DNI">Numero de Documento</label><br>
					<input type="number" id="DNI" name="DNI"><br>
					<label for="foto">Foto de Perfil</label><br>
					<input type="file" id="foto" name="foto"><br>
				</form>
			</h2>

	<!-- Footer -->		
	<%- include-('./partials/footer') %> 
	<!-- Footer -->
	
</body>

</html>

