<!--Head-->
<%- include('./partials/head') %> 
<!--Head-->

<body>
		
	<!--Header-->
	<%- include('./partials/header') %>
	<!--Header-->
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>

			<h2 class="col-12"> <i> 
				<form action="/profile" method="post" class="form-register-container" enctype="multipart/form-data">
					<input type="email" name="email" class="form-register" placeholder="Ingrese su email" value="">
					<input type="text" name="nombre" class="form-register" placeholder="Nombre de usuario " value="">
					<input type="password" name="contrasena" class="form-register" placeholder="Contraseña" value="">
					<input type="date" name="fecha_de_nacimiento class="form-register" placeholder="Fecha de nacimiento" value="">
					<input type="number" name="documento" class="form-register" placeholder="Número de documento" value="">
					<input type="file" name="foto_de_perfil" class="form-register" value="">
					<input type="submit" name="" class="form-register-submit">
				</form>
			</h2>


	<!-- Footer -->		
	<%- include('./partials/footer') %> 
	<!-- Footer -->
</body>

</html>