<!--Head-->
<%- include('./partials/head') %> 
<!--Head-->

<body>
		
	<!--Header-->
	<%- include('./partials/headerNormal') %>
	<!--Header-->
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>

			<h2 class="col-12"> <i> 
				<form action="/profile" method="get" class="form-register-container">
					<input type="email" name="email" class="form-register" placeholder="Ingrese su email">
					<input type="text" name="user" class="form-register" placeholder="Nombre de usuario ">
					<input type="password" name="password" class="form-register" placeholder="Contraseña">
					<input type="date" name="date" class="form-register" placeholder="Fecha de nacimiento">
					<input type="number" name="doc" class="form-register" placeholder="Número de documento">
					<input type="file" name="photo" class="form-register">
					<input type="submit" name="" class="form-register-submit">
				</form>
			</h2>


	<!-- Footer -->		
	<%- include('./partials/footer') %> 
	<!-- Footer -->
</body>

</html>