<!--Head-->
<%- include('./partials/head') %> 
<!--Head-->

<body>
	<!-- Header -->
	<%- include('./partials/headerNormal) %> 
	<!-- /Header -->

	<!-- Resultados de búsqueda-->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Muestra de resultados -->
			<h2 class="col-12"> 
				FALTAN COSAS
			</h2>
			<!-- Muestra de resultados -->
		</div>
	</div>
    <!-- Resultados de búsqueda-->

	<!-- Footer -->		
	<%- include('./partials/footer') %>
	<!-- Footer -->
			
</body>

</html>