<!--Head-->
<%- include('./partials/head') %> 
<!--Head-->

<body>
	<!-- Header -->
	<%- include('./partials/headerNormal) %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				FALTAN COSAS
			</h2>

	<!-- Footer -->		
	<%- include('./partials/footer') %>
	<!-- Footer -->
			
</body>

</html>