<!-- Head -->
<%- include('./partials/head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerNormal') %> 
	<!-- /Header -->

	<!-- Resultados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> Chocolate </h2>
		</div>

	</div>

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>